
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(229, 57%, 11%);
    font-size: 14px;
}

.image-parent {
    position: absolute;
    top: 400px;
    right: 2px;
}

.flex-container {
   display: flex;
   justify-content: center;
   position: relative;
   top: 400px;
}

.square , .rectangle {
    margin-right: 20px;
}
.square {
    height: 180px;
    width: 180px;
    background-color: rgb(197, 0, 0);
    border-radius: 10px 30px 10px 10px;
   
    /* use border radius here */
}

.rectangle {
    height: 100px;
    width: 300px;
    background-color: rgb(247, 9, 9);
    border-radius: 5px 5px 5px 5px;
   

    /* use border radius here */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }