* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(229, 57%, 11%);
    font-size: 14px;
}

.main {
    position: relative;
    top:400px;   
}

.square {
    height: 50px;
    width: 50px;
    background-color: rgb(197, 0, 0);

    /* use border radius here */
}


.rectangle {
    height: 50px;
    width: 100px;
    background-color: rgb(247, 9, 9);

    /* use border radius here */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }