
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:  hsl(229, 57%, 11%);
    font-size: 14px;
}

.image-parent {
    position: absolute;
    top: 400px;
    right: 2px;
}

.flex-container {
   display: flex;
   justify-content: center;
}
.square {
    height: 50px;
    width: 50px;
    background-color: rgb(197, 0, 0);
    /* display: inline-block; */

    /* use border radius here */
}

.rectangle {
    /* display: inline-block; */
    height: 50px;
    width: 100px;
    background-color: rgb(247, 9, 9);

    /* use border radius here */
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }